// Tablets & Smaller
@media(max-width: 900px) {
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 15%;
      
      h1 {
        font-size: 1.75rem;
      }
    }
  }

    // reducing button size
    %btn-shared {
      display: inline-block;
      font-weight: bold;
      padding: 0.5rem 0.5rem;
      transition: all 0.5s;
      border: none;
      cursor: pointer;
      opacity: 0.9;
    }

    // Career Highlights

    // Timeline line to the left
    #work-a ul li {
      margin-left: 0;
    }

    #work-a ul li div {
      width: calc(100vw - 130px);
    }

    #work-a ul li:nth-child(even) div {
      left: 40px;
    }

    #work-a ul li:nth-child(even) div:before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent $medium-color transparent transparent;
    }

}

// Smartphones
@media(max-width: 500px) {

  img#logo {
   padding: 0.25rem;
  }

  #main-nav {
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    

    li {
      padding: 0.25rem 0.5rem;

    }
  }

  #header {
    &-home {
      height: 20rem;
      border-bottom: 3px solid $main-color;

      .header-content .btn-light {
        display: none;
      }

      .header-content h1 {
        margin-top: 5.8rem;
      }
    }
  }

  // Stack Grid Columns
  #home-a .specials,
  #home-b .stats,
  .items,
  #contact-b .contact-info,
  .certs {
    grid-template-columns: 1fr;
  }
  
  // Home
  #home {
    &-a {
      .specials div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding-bottom: none;
        }
      }
    }

    *-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'ct1'
        'ct2'
        'ct3'
        'ct4'
        'ct5'
        'ct6'
        ;
      }
    }
  }
  
   // Contact
   #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          'name'
          'subject'
          'email'
          'phone'
          'message';
      }
    }

    &-b {
      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px #555 solid;

        &:last-child {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }

  // Footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}

// Landscape
@media(max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3.5rem;

      h1 {
        font-size: 1.5rem;
      }
    }
  }
}

